.foot-btm{
    display: flex;
    color: #A0A0A0;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
    margin-top: 20px;
    padding: 30px;
    align-items: center;
    font-family: Oswald;

}
.foot-logo img{
    width: 70px;
    height: 50px;
}
.foot-links ul{
    list-style-type: none;
    display: flex;
}
.foot-links ul li{
    margin: 15px;
    font-size: 30px;
    
}
.foot-links ul li a i{
    color: #A0A0A0;
}

@media all and (max-width:600px) {
    .foot-btm{
        flex-direction: column;
    }
    .foot-logo img{
        margin: 20px;
    }
}