* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #060c21;
}

.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060c21;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.brand-image img {
  width: 100px;
  height: 70px;
}
.navbar-links li {
  padding: 30px;
}
.navbar-links li:hover {
  background-color: grey;
}
.navbar-links li a {
  text-decoration: none;
  margin: 9px;
  color: white;
}
#imenu {
  font-size: 35px;
  top: 10px;
  right: 10px;
  position: absolute;
  color: white;
  display: none;
}

.headabout {
  width: calc(100% - 50px);
  height: 400px;
  background: url(./images/headabout.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Advent Pro", serif;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  text-shadow: 8px 8px 8px #060c21;
}

.header {
  display: flex;
  width: 100%;
  height: 700px;
  background: url(./images/headimage.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "Cabin Condensed";
}

#text {
  color: white;
  position: relative;
  outline: none;
  z-index: 2;
  font-family: "Advent Pro", serif;
  font-size: 88px;
  text-shadow: 8px 8px 8px #060c21;
}
#textp {
  color: white;
  position: relative;
  outline: none;
  z-index: 2;
  font-family: "Satisfy", serif;
  font-size: 88px;
  text-shadow: 8px 8px 8px #060c21;
}
.aboutbtn {
  position: absolute;
  top: -25px;
  width: 150px;
  height: 120px;
  background: url(./images/prof.jpg) no-repeat center;
  background-size: contain;
  border: 3px solid #75ad35;
  outline: none;
  border-radius: 50%;
}

.content p {
  font-family: "Satisfy", serif;
  font-size: 25px;
}
#headbtn {
  position: relative;
  z-index: 2;
  background: #060c21;
  border: none;
  outline: none;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  margin: 40px auto;
}
#headbtn a {
  font-family: "Advent Pro", serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.box-blur {
  position: relative;
  width: calc(100% - 90px);
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0px 5px 15px rgba (0, 0, 0, 0.9);
  overflow: hidden;
  color: #000;
  border-radius: 10px;
}
.box-blur:before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  left: -20px;
  bottom: -20px;
  background: url(./images/headimage.jpg) no-repeat center;
  background-attachment: fixed;
  filter: blur(4px);
}

.box {
  position: relative;
  display: flex;
  width: calc(100% - 80px);
  margin: 40px auto;
  height: 400px;
  justify-content: center;
  align-items: center;
  background: #060c21;
}

.skillabt {
  margin: 0px auto;
  font-family: "Advent Pro", serif;
  position: relative;
  width: calc(100% - 50px);
  height: 250px;
  background-color: #060c21;
  text-align: center;
  color: white;
  
}
.skillb{
  position: absolute;
  text-align: center;
  width: calc(100% - 30px);
  margin: 0px auto;
  margin: 40px 20px;

}
.colorskill{
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin: 10px;
}


#clang{
  background: url(./images/clogo.png) no-repeat center;
  background-size: cover;
}
#php{
  background: url(./images/php.png) no-repeat center;
  background-size: cover;
}
#clang{
  background: url(./images/clogo.png) no-repeat center;
  background-size: cover;
}
#js{
  background: url(./images/js.png) no-repeat center;
  background-size: cover;
}#mongo{
  background: url(./images/mongo.png) no-repeat center;
  background-size: cover;
}
#java{
  background: url(./images/java.png) no-repeat center;
  background-size: cover;
}#html{
  background: url(./images/html.png) no-repeat center;
  background-size: cover;
}
#mysql{
  background: url(./images/mysql.png) no-repeat center;
  background-size: cover;
}
#css{
  background: url(./images/css.png) no-repeat center;
  background-size: cover;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -1;
}

.box:after {
  content: "";
  background: #fff;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(1.5rem);
}
.box::after,
.box::before {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}
.content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectsec {
  width: 300px;
  height: 200px;
  position: absolute;
}
.prodes {
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 200px;
  height: 110px;
  background-color: #00bcd4;
}

@media all and (max-width: 500px) {
  #imenu {
    display: flex;
    cursor: pointer;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .navbar-links.active {
    display: flex;
  }
}

@media all and (max-width: 500px) {
  .box1 {
    height: 800px;
  }
  .headabout{
    font-size: 20px;
  }
  .header {
    width: 100%;
    height: 700px;
    background: url(./images/headimage.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 20px;
    font-family: "Cabin Condensed";
  }

  #text {
    font-size: 50px;
  }
  #textp {
    font-size: 50px;
  }

  #headbtn {
    width: 150px;
    height: 50px;
  }
  #headbtn a {
    font-size: 20px;
  }
  .aboutbtn {
    width: 100px;
    height: 90px;
  }

  .content {
    padding: 10px;
  }
  .content h1 {
    font-family: "Advent Pro", serif;
    text-transform: uppercase;
    font-size: 30px;
  }
  .content p {
    font-family: "Satisfy", serif;
    font-size: 15px;
  }
}
